:root {
  font-size: calc(1vw + 0.7em);
  --main-color: #444;
  --background-color: rgb(243, 243, 243);
  --button-color: #107896;
  --box-shadow: rgb(151, 151, 151);
  --search-box-width: 80%;
  --padding-button: 0.75em 2em;
  --padding-input: 0.75em 1.5em;
  --hero-img-width: 100%;
  --max-width-body: 60em;

  --ant-card-flex-basis: 45%;
  --ant-card-max-width: 45%;
  --ant-card-height: 60vw;
  --ant-img-height: 65%;
  --ant-desc-height: 35%;
  --ant-card-margin: 2.5%;
  --ant-card-margin: 2.5%;
  --ant-font-size: 0.8rem;
}

body {
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: var(--main-color);
  background-color: var(--background-color);
  padding: 0 0.5em;
  max-width: var(--max-width-body);
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 3em;
  max-width: var(--max-width-body);
  margin: 1em auto 3em auto;
}

section {
  margin-bottom: 3em;
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: 700;
}

.nav-menu {
  display: flex;
}

.nav-menu > li {
  margin-left: 0.5em;
}

.nav-menu-link {
  display: block;
  padding: 0.5em 0.75em;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

header > img {
  width: 3em;
  height: auto;
  margin-right: auto;
}

main {
  max-width: 40em;
  margin: 0 auto;
}

.hero {
  text-align: center;
}

.hero > img {
  width: var(--hero-img-width);
  height: auto;
  padding: 0 2em;
  margin-bottom: 2em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > input {
  width: var(--search-box-width);
  margin-bottom: 2em;
  padding: var(--padding-input);
  border: none;
  border-radius: 0.2em;
  box-shadow: 0 0 0.3em var(--box-shadow);
  background-color: rgb(250, 250, 250);
}

form input::placeholder {
  color: rgb(192, 191, 191);
}

form > button {
  background-color: var(--button-color);
  border: none;
  padding: var(--padding-button);
  color: white;
  border-radius: 0.2em;
  cursor: pointer;
  box-shadow: 0.2em 0.2em 0.2em var(--box-shadow);
  letter-spacing: 0.0625em;
  font-size: calc(1vw + 0.7em);
}

.ant-page {
  max-width: var(--max-width-body);
}

.ant-result {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 0;
}

.ant-card {
  box-shadow: 0px 0px 3px 3px rgb(182, 182, 182);
  border-radius: 0.2em;
  margin: 0 var(--ant-card-margin) 2em var(--ant-card-margin);
  flex: 1 0 var(--ant-card-flex);
  max-width: var(--ant-card-max-width);
  min-width: var(--ant-card-max-width);
  height: var(--ant-card-height);
}

.ant-card > img {
  display: block;
  width: 100%;
  height: var(--ant-img-height);
}

.ant-description {
  padding: 0.5em 1em;
  height: var(--ant-desc-height);
  border-top: 1px solid rgb(182, 182, 182);
  font-size: var(--ant-font-size);
}

.ant-name {
  font-weight: 600;
}

.nav-pagination {
  display: flex;
  justify-content: center;
  max-width: 90vw;
  margin-bottom: 1em;
}

.pagination {
  display: flex;
}

.pagination a {
  display: block;
  padding: 0.25em 0.75em;
  /* border: 1px solid #999;
  border-radius: 0.2em; */
  text-decoration: none;
  cursor: pointer;
}

.active-page > a {
  font-weight: 600;
  border: 1px solid #999;
  border-radius: 0.2em;
  text-decoration: none;
  background-color: white;
}

@media (min-width: 29em) {
  :root {
    --search-box-width: 60%;
    --padding-input: 1em 2em;
    font-size: 1.125em;
    --ant-font-size: 0.9rem;
  }

  form > button {
    font-size: 1rem;
  }
}

@media (min-width: 42em) {
  :root {
    --ant-img-height: 77%;
    --ant-desc-height: 23%;
  }
}

@media (min-width: 50em) {
  :root {
    --ant-img-height: 70%;
    --ant-desc-height: 30%;
    --ant-card-flex-basis: 30%;
    --ant-card-max-width: 30%;
    --ant-card-height: 40vw;
    --ant-card-margin: calc(10% / 6);
  }
}

/* @media (min-width: 60em) {
  :root {
    --ant-card-flex-basis: 22.5%;
    --ant-card-max-width: 22.5%;
    --ant-card-margin: calc(10% / 8);
    --ant-card-height: 31vw;
  }
} */

@media (min-width: 67.5em) {
  :root {
    --ant-card-flex-basis: 22.5%;
    --ant-card-max-width: 22.5%;
    --ant-card-margin: calc(10% / 8);
    --ant-card-height: calc(67.5em / 3.6);
  }
}

.species-name {
  font-size: 1.5rem;
  text-align: center;
}

.result-footer {
  text-align: right;
  padding: 0 1em;
  margin-bottom: 2em;
  font-size: 0.85rem;
}

.link {
  text-decoration: underline;
}

.ant-page > h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5em;
}
